body {
  padding-top: 0rem;
  font-family: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}